/*
Typography
----------------------------------
*/
@_text-color: #31251c;

h1,
h2,
h3,
h4 {
  font-family: @font-family__Avenir-Heavy;
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 15px;
}

h5 {
  font-size: 14px;
  font-family: @font-family__Avenir-Black;
  text-transform: uppercase;
}

p {
  color: @_text-color;
  font-size: 15px;
  line-height: 25px;
  padding-bottom: 10px;
}

a {
  color: @_text-color;
  &:hover {
    color: @_text-color;
    transition: ease-in 0.45s;
    cursor: pointer;
  }
}

/*
Buttons
----------------------------------
*/

@button-primary__color: white;
@button-primary__hover__color: white;
@button-primary__background: #30241a;
@button-primary__hover__background: #221912;
@button-primary__border: none;
@button-primary__hover__border: none;

@button-hollow__color: @_text-color;
@button-hollow__hover__color: @button-primary__color;
@button-hollow__background: white;
@button-hollow__hover__background: #e9d5d2;
@button-hollow__border: #e9d5d2;
@button-hollow__hover__border: @button-primary__border;

@button-primary__active__background: @button-primary__background;
@button-primary__active__border: @button-primary__border;
@button-primary__active__color: @button-primary__color;

.action.primary {
  padding: 15px 40px;
  font-size: 15px;
}

.action.hollow {
  padding: 15px 40px;
  font-size: 15px;
  border: 1px solid @button-hollow__border;
  background: @button-hollow__background;
  color: @button-hollow__color;
  &:hover {
    background: @button-hollow__hover__background;
    transition: ease-out 0.45s;
  }
}

/*
Alert
----------------------------------
*/

@message-notice__color: @error__color;
@message-notice__background: none;
@message-notice__border-color: @message-notice__color;

.message.notice {
  text-align: center;
  border: 1px solid @message-notice__border-color;
  > *:first-child:before {
    content: " ";
  }
}

@message-success__color: @color-dark-green1;
@message-success__background: none;
@message-success__border-color: @message-success__color;

.message.success {
  text-align: center;
  border: 1px solid @message-success__border-color;
  > *:first-child:before {
    content: " ";
  }
}

/*
Misc
----------------------------------
*/

.icon-link {
  padding: 0 5px;
  font-size: 25px;
  &:hover {
    color: #4f4035;
  }
}

.misc-item {
  text-align: center;
  display: flow-root;
}

/*
Checkbox & Radio Buttons
----------------------------------
*/
input[type="checkbox"] {
  display: none;
}

[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
  position: relative;
  padding-left: 30px;
  cursor: pointer;
}

[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 20px;
  height: 20px;
  border: 1px solid #ccc;
  background: #fff;
}

[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
  content: "\2713\0020";
  position: absolute;
  top: 2.4px;
  left: 3.8px;
  font-size: 20px;
  line-height: 0.8;
  color: black;
  transition: all 0.2s;
}

[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}
[type="checkbox"]:checked + label:after {
  opacity: 1;
  transform: scale(1);
}

[type="checkbox"]:disabled:not(:checked) + label:after,
[type="checkbox"]:disabled:checked + label:after {
  color: #ccc;
}

[type="checkbox"]:disabled:not(:checked) + label:before,
[type="checkbox"]:disabled:checked + label:before {
  box-shadow: none;
  border-color: #bbb;
  background-color: #f2f2f2;
}

// Radio checkbox

/*
Input Fields
----------------------------------
*/
input {
  height: 40px !important;
  box-shadow: none !important;
}

@select-color: @_text-color;
@select-background: white;

.select-hidden {
  display: none;
  visibility: hidden;
  padding-right: 10px;
}
.select {
  cursor: pointer;
  display: inline-block;
  position: relative;
  font-size: 16px;
  color: @select-color;
  width: 100%;
  height: 40px;
}
.select-styled {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: 1px solid #c2c2c2;
  background-color: @select-background;
  padding: 8px 15px;
  transition: all 0.2s ease-in;
  &:after {
    content: '\e622';
    font-family: 'luma-icons';
    font-size: 10px;
    width: 0;
    height: 0;
    position: absolute;
    top: 14px;
    right: 25px;
    color: inherit;
  }
  &:hover {
    background-color: darken(@select-background, 3);
  }
  &:active,
  &.active {
    &:after {
      content: "\e621";
      top: 13px;
      border-color: transparent transparent @select-color transparent;
    }
  }
}

.select-options {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  z-index: 999;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: @select-background;
  li {
    margin: 0;
    padding: 8px 0;
    text-indent: 15px;
    border-left: 1px solid #c2c2c2;
    border-right: 1px solid #c2c2c2;
    transition: all 0.15s ease-in;
    &:hover {
      color: @select-color;
      background-color: darken(@select-background, 3);
      transition: all 0.15s ease-in;
    }
    &[rel="hide"] {
      display: none;
    }
    &:nth-last-child(1) {
      border-bottom: 1px solid #c2c2c2;
    }
  }
}

/*
Tabs
----------------------------------
*/

.media-width(@extremum, @break)
  when
  (@extremum = "min")
  and
  (@break = @screen__m) {
  .product.data.items {
    > .item.content {
      border: 1px solid #e6e6e6;
    }

    > .item.title {
      > .switch {
        text-transform: uppercase;
        background: none;
        font-weight: bold;
        color: #9c9c9c;
        border: 1px solid #e6e6e6;
      }

      &.active > .switch,
      &.active > .switch:focus,
      &.active > .switch:hover {
        border-bottom: 3px solid @_base-color;
        padding-bottom: 0px;
      }
    }
  }
}

/*
Styleguide 
----------------------------------
*/

.styleguide {
  display: grid;
  grid-gap: 60px;
  .styleguide-title {
    color: #999;
    font-size: 30px;
    margin-top: 50px;
  }
  h1 {
    margin: 80px 0 0 0;
  }
  .text-link-hover {
    text-decoration: underline;
  }

  .styleguide-button {
    button {
      height: 50px;
      width: 175px;
    }

    .button-before,
    .button-after {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-column-gap: 10px;
      margin-bottom: 15px;
    }

    .before-after {
      margin: 0px;
    }

    input[type="number"] {
      margin-left: 25px;
    }
  }

  .styleguide-misc {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    .styleguide-title {
      grid-column-start: 1;
      grid-column-end: 4;
    }
    .misc-left {
      .icon-before {
        margin-bottom: 10px;
      }
      .icon-after {
        span {
          color: #4f4035;
        }
      }
    }
    .misc-right {
      display: grid;
      grid-template-columns: 1fr 1fr;
      .icon-after {
        a {
          text-decoration: underline;
        }
      }
    }
  }

  .styleguide-checkbox-radio {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    .styleguide-title {
      grid-column-start: 1;
      grid-column-end: 4;
    }
    .styleguide-checkbox,
    .styleguide-radio {
      .field.choice {
        margin-bottom: 10px;
        [type="radio"]:checked,
        [type="radio"]:not(:checked) {
          display: none;
        }

        [type="radio"]:checked + label,
        [type="radio"]:not(:checked) + label {
          position: relative;
          padding-left: 28px;
          cursor: pointer;
          line-height: 20px;
          display: inline-block;
          color: #666;
        }

        [type="radio"]:checked + label:before,
        [type="radio"]:not(:checked) + label:before {
          content: "";
          position: absolute;
          left: 0;
          top: 0;
          width: 17px;
          height: 17px;
          border: 1px solid #ddd;
          border-radius: 100%;
          background: #fff;
        }

        [type="radio"]:checked + label:after,
        [type="radio"]:not(:checked) + label:after {
          content: "";
          width: 7px;
          height: 7px;
          background: black;
          position: absolute;
          top: 6px;
          left: 6px;
          border-radius: 50%;
          -webkit-transition: all 0.2s ease;
          transition: all 0.2s ease;
        }

        [type="radio"]:disabled:not(:checked) + label:after,
        [type="radio"]:disabled:checked + label:after {
          background: #ccc;
        }

        [type="radio"]:not(:checked) + label:after {
          opacity: 0;
          -webkit-transform: scale(0);
          transform: scale(0);
        }

        [type="radio"]:checked + label:after {
          opacity: 1;
          -webkit-transform: scale(1);
          transform: scale(1);
        }

        [type="radio"]:disabled:not(:checked) + label:before,
        [type="radio"]:disabled:checked + label:before {
          box-shadow: none;
          border-color: #bbb;
          background-color: #f2f2f2;
          color: #ccc;
        }
      }
    }
  }

  .styleguide-inputField {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 15px;
    .styleguide-title {
      grid-column-start: 1;
      grid-column-end: 3;
    }
    .inputField-left {
      grid-column-start: 1;
      grid-column-end: 2;
      .styleguide-input-error {
        input {
          border: 1px solid @error__color;
        }
        span {
          color: @error__color;
        }
      }
    }
    .inputField-right {
      grid-column-start: 2;
      grid-column-end: 3;
      .select-options li:nth-child(2) {
        background-color: darken(@select-background, 3);
      }
    }
    input,
    select {
      margin-bottom: 10px;
    }
  }
}

//
//  Desktop (styles-l.css)
//  _____________________________________________

.media-width(@extremum, @break)
  when
  (@extremum = "min")
  and
  (@break = @screen__m) {
  .styleguide {
    grid-template-columns: 1fr 1fr;
  }
}

//
//  Mobile (styles-m.css)
//  _____________________________________________

.media-width(@extremum, @break)
  when
  (@extremum = "max")
  and
  (@break = @screen__m) {
  .styleguide {
    grid-template-columns: 1fr;
  }
}
