// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

@_base-color: #e9d5d2;

//
//  Blank theme variables
//  _____________________________________________

//
//  Typography
//  ---------------------------------------------

//  Fonts
@font-family-name__Avenir-Black: 'Avenir Black';
@font-family__Avenir-Black     : @font-family-name__Avenir-Black, cursive;

@font-family-name__Avenir-Book: 'Avenir Book';
@font-family__Avenir-Book     : @font-family-name__Avenir-Book, cursive;

@font-family-name__Avenir-Light: 'Avenir Light';
@font-family__Avenir-Light     : @font-family-name__Avenir-Light, cursive;

@font-family-name__Avenir-Roman: 'Avenir Roman';
@font-family__Avenir-Roman     : @font-family-name__Avenir-Roman, cursive;

@font-family-name__base: 'Avenir Roman';
@font-family__base     : @font-family-name__base, cursive;

@font-family-name__Avenir-Heavy: 'Avenir Heavy';
@font-family__Avenir-Heavy     : @font-family-name__Avenir-Heavy, cursive;

@font-family-name__Markerfield-W00-Regular: 'Markerfield Regular';
@font-family__Markerfield-W00-Regular     : @font-family-name__Markerfield-W00-Regular, cursive;