& when (@media-common =true) {
	.page-footer {
		background-color: @color-white;

		.container {
			width: auto;
		}

		.icon-link {
			font-size: 25px !important;
		}

		.footer.content {
			max-width: 100%;

			h2 {
				font-size: 20px;
				margin   : 0 0 13px;
			}

			background-color: @color-white;
			padding         : 0;

			.footer-top {
				border-bottom: solid 2px #eee;
				border-top   : solid 2px #eee;

				.footer-top-x {
					ul {
						list-style           : none;
						display              : grid;
						grid-template-columns: 1fr 1fr 1fr 1fr;
						padding              : 0;
						margin               : 59px 0;

						li {
							display        : flex;
							justify-content: center;

							a {
								font-size      : 14px;
								letter-spacing : 0.25px;
								font-family    : @font-family__Avenir-Black;
								color          : #31251c;
								text-transform : uppercase;
								text-decoration: none;
								cursor         : pointer;
								display        : flex;
								align-items    : center;

								img {
									display     : inline-block;
									margin-right: 14px;
									top         : 9px;
									height      : 30px;
									width       : auto;
								}
							}
						}
					}
				}
			}

		}

		.footer-main {
			padding: 24px 20px 52px 20px;

			.footer-links {
				display              : grid;
				grid-template-columns: 1fr 1fr 1fr;
				flex                 : 0 0 70%;

				ul.col {
					li {
						a {
							color    : #31251c;
							font-size: 15px;
						}
					}
				}
			}
		}

		.footer-bottom {
			border-top: solid 1px #eee;

			.footer-bottom-x {
				display        : flex;
				justify-content: space-between;
				padding        : 32px 20px;


				.copyright {
					background: none;
					color     : #31251c;
					padding   : 0;
					font-size : 15px;
				}

				.payment {
					img {
						margin: -1px 0px 0px 23px;
					}
				}
			}
		}
	}

	body.cms-index-index .page-footer {
		.block-new-letter-footer-moblie {
			display: none !important;
		}

		.footer-links {
			grid-template-columns: 1fr 1fr 1fr 1fr;
			flex                 : 0 0 100%;

			ul.col {
				padding-right: 0;
				margin       : 30px 0;

				&:nth-child(4) {
					li {

						&:nth-child(7),
						&:nth-child(8) {
							display: none;
						}
					}
				}

				&:nth-child(5) {
					display: block;

					li {
						h2 {
							display: none;
						}
					}
				}

				li {
					a {
						color    : #31251c;
						font-size: 15px;
					}
				}
			}
		}

		.footer-main-right {
			display: none;
		}
	}
}

//
//  Mobile (styles-m.css)
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum ='max') and (@break =@screen__s) {
	.page-footer {

		.footer-top {

			.footer-top-x {
				ul {
					grid-row-gap: 20px !important;

					li a {
						span {
							min-width: auto;
						}
					}
				}
			}
		}
	}
}


.media-width(@extremum, @break) when (@extremum ='max') and (@break =@screen__m) {
	.page-footer {
		.footer-main-right {
			display: none;
		}

		.footer-top {

			.footer-top-x {
				ul {
					grid-template-columns: 1fr 1fr !important;
					grid-row-gap         : 30px;

					li a {
						span {
							min-width: 146px;
						}
					}
				}
			}
		}

		.footer-links {
			grid-template-columns: 1fr 1fr !important;
			grid-row-gap         : 30px;
			padding-bottom       : 45px;
			grid-column-gap      : 12px;

			ul.col {
				&:nth-child(1) {
					display: none;
				}
			}
		}

		.footer-bottom .footer-bottom-x {
			display   : block !important;
			margin    : 0 auto;
			text-align: center;

			.footer-bottom-left {
				padding-bottom: 15px;
			}
		}
	}
}

.media-width(@extremum, @break) when (@extremum ='min') and (@break =@screen__m) {
	.page-footer {
		background-color: @color-white;
	}

	.footer.content {
		padding: 0;

		.footer-links {
			grid-template-columns: 1fr 1fr 1fr;
			flex                 : 0 0 70%;

			ul.col {
				padding-right: 0;
				margin       : 30px 0;

				&:nth-child(3),
				&:nth-child(5) {
					display: none;
				}

				li {
					a {
						color    : #31251c;
						font-size: 15px;
					}
				}
			}
		}

		.footer-top-x {
			li {
				flex: auto;
			}
		}
	}
}

//
//  Desktop 
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum ='min') and (@break =@screen__l) {
	.footer-main {
		display       : flex;
		flex-direction: row-reverse;
	}

	.footer.content {

		h2 {
			font-size: 20px;
			margin   : 0 0 13px;
		}

		.footer-top {

			.footer-top-x {
				ul {
					margin: 59px 0;

					li {

						&:nth-child(1) {
							a {
								margin-left   : -71px;
								letter-spacing: 0;
							}
						}

						&:nth-child(2) {
							a {
								img {
									width : 28px;
									height: 25px;
								}
							}
						}

						&:nth-child(3) {
							a {
								margin-left: 87px;

								img {
									width       : 28px;
									height      : 26px;
									margin-right: 14px;
								}
							}
						}

						&:nth-child(4) {
							a {
								margin-left: 100px;

								img {
									width       : 18px;
									height      : 30px;
									margin-right: 14px;
								}
							}
						}
					}
				}
			}
		}

		.footer-links {
			grid-column-gap: 80px;

			ul.col {
				margin: 35px 0 25px 0 !important;

				li {
					line-height: 23.5px;

					&:nth-child(1) {
						h2 {
							letter-spacing: -0.5px;
						}
					}
				}

				&:nth-child(1) {
					li {
						&:nth-child(3) {
							a {
								letter-spacing: -0.3px;
							}
						}

						&:nth-child(5) {
							margin-top: 4px;

							a {
								letter-spacing: -0.3px;
							}
						}

						&:nth-child(6) {
							a {
								letter-spacing: -0.3px;
							}
						}
					}
				}

				&:nth-child(2) {
					li {
						&:nth-child(3) {
							a {
								letter-spacing: -0.1px;
							}
						}

						&:nth-child(4) {
							margin-top: 3px;

							a {
								letter-spacing: -0.3px;
							}
						}
					}
				}

				&:nth-child(4) {
					h2 {
						letter-spacing: -0.8px !important;
					}

					li {
						&:nth-child(3) {
							a {
								letter-spacing: 1px;
							}
						}

						&:nth-child(4) {
							margin-top: 3px;

							a {
								letter-spacing: -0.4px;
							}
						}

						&:nth-child(5) {

							a {
								letter-spacing: -0.4px;
							}
						}

						&:nth-child(6) {

							a {
								letter-spacing: -0.4px;
							}
						}
					}
				}

				&:nth-child(5) {
					li {
						&:nth-child(2) {
							a {
								margin: 0 10px 0 -13px;
							}
						}
					}
				}
			}
		}

		.footer-bottom {
			.footer-bottom-x {
				.copyright {
					font-size     : 15px;
					letter-spacing: -0.2px;
					margin-top    : 1px;
				}

				.payment {
					display        : flex;
					justify-content: center;
					align-items    : center;
				}
			}
		}
	}
}